@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/buttons";
@import "../../../../assets/scss/title";
@import "../../../../assets/scss/bodyText";
@import "../../../../assets/scss/input";

.post__create {
  background: url("../../../../assets/image/bg/bg-intro.jpg") no-repeat
    center/cover fixed;
  padding: 24px 0px;
  width: 100%;

  .post__create-container {
    max-width: 90%;
    margin: auto;

    .post__create-cta {
      padding: 12px 0;

      .post__title {
        @include postTitle;
      }

      .post__description {
        @include postDescription;
      }

      .post__create-button {
        @include postCreateBtn;
      }
    }

    .post__form-wrapper {
      .post__title {
        @include postTitle;
      }

      .post__description {
        @include postDescription;
      }

      .post__form {
        width: 100%;

        .post__form-row {
          margin-bottom: 12px;

          .post__form-label {
            color: $p1;
            display: block;
            margin-bottom: 4px;
          }

          .post__form-textinput {
            @include postFormTextInput;
          }

          .post__form-textarea {
            @include postFormTextArea;
          }

          .post__form-countCarachters {
            color: $p1;
          }
        }

        .post__form-rowbtn {
          display: flex;
          flex-direction: column;

          @media screen and (min-width: 800px) {
            .post__form-rowbtn {
              flex-direction: row;
            }
          }

          .post__form-submit {
            @include postFormSubmit;
          }

          .post__form-cancel {
            @include postFormCancel;
          }
        }
      }
    }
  }
}

.post {
  background: $gray-1;
  border: 1px solid $p4;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 6px;
  width: 100%;

  .post__header {
    display: flex;
    gap: 20px;
    padding: 12px 0px;

    .post__user {
      background-color: $p2;
      color: $p4;
      padding: 2px;
      border-radius: 4px;
      box-shadow: 0px 2px 1px $p4;
    }

    .post__id {
      background-color: $p2;
      color: $p4;
      padding: 2px;
      border-radius: 4px;
      box-shadow: 0px 2px 1px $p4;
    }
  }

  .post__content {
    padding: 12px 0px;

    .post__delete-message {
      color: $green;
      margin: 12px 0;
      display: inline-block;
    }

    .post__title {
      @include secondTitlePost;
    }

    .post__body {
      @include contentPost;
    }

    .post__edit {
      margin-top: 12px;

      .post__edit-title {
        @include secondTitlePost;
      }

      .form__edit {
        padding: 4px 0;

        .form__edit-row {
          margin-bottom: 8px;

          .form__edit-label {
            display: block;
            margin-bottom: 4px;
            font-size: 18px;
          }

          .form__edit-textinput {
            @include postFormTextInput;
          }

          .form__edit-textarea {
            @include postFormTextArea;
          }
        }

        .form__edit-submit {
          @include btnUpdatedPost;
        }

        .form__edit-cancel {
          @include btnCancelUpdatedPost;
        }
      }
    }
  }

  .post__footer {
    display: flex;
    align-content: center;
    gap: 4px;
    padding: 12px 0px;

    .post__btn-edit {
      @include btnEditPost;
    }

    .post__btn-del {
      @include btnDeletePost;
    }

    .post__btn-comments {
      @include btnComments;
    }
  }

  .post__comments {
    .post__comments-title {
      @include secondTitlePost;
      margin-bottom: 12px;
    }

    .post__comments-list {
      .post__btn-comments {
        @include btnComments;
        padding: 12px 24px;
      }

      .post__comments-item {
        margin-bottom: 8px;
        .post__coments-header {
          padding: 12px 0;

          .post__coments-id {
            background-color: $p2;
            color: $p4;
            padding: 2px;
            border-radius: 4px;
            box-shadow: 0px 2px 1px $p4;
          }
        }

        .post__coments-content {
          .post__coments-name {
            @include secondTitlePost;
          }

          .post__comments-body {
            color: $gray-4;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
          }
        }

        .post__comments-footer {
          .post__comments-email {
            color: $p4;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.posts {
  width: 100%;

  .posts__container {
    max-width: 90%;
    margin: auto;

    .posts_list-title {
      @include postTitle;
      margin: 12px 0;
    }
  }
}

//reponsive
@media (min-width: 800px) {
  //post create
  .post__create {
    height: 72vh;
    position: relative;

    .post__create-cta {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .post__create-container {
      display: flex;
      align-items: center;

      .post__form-wrapper {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;
        width: 100%;

        .post__form {
          .post__form-rowbtn {
            display: flex;
            flex-direction: row;
            gap: 12px;
          }
        }
      }
    }
  }

  //post
  .post {
    background: $p1;
    border: 2px solid $p4;
    margin-bottom: 32px;
    padding: 12px 24px;
    width: 100%;

    .post__header {
      justify-content: space-between;
      .post__user {
        background-color: $p4;
        color: $p1;
      }

      .post__id {
        background-color: $p4;
        color: $p1;
      }
    }

    .post__content {
      padding: 12px 0px;
      max-width: 80%;

      .post__title {
        @include secondTitlePost;
        margin-bottom: 4px;
      }

      .post__edit {
        margin-top: 12px;

        .form__edit {
          padding: 12px 0;

          .form__edit-row {
            .form__edit-label {
              display: block;
              margin-bottom: 4px;
              font-size: 16px;
            }
          }
        }
      }
    }

    .post__footer {
      padding: 20px 0px;
    }

    .post__comments {
      .post__comments-title {
        @include secondTitlePost;
        margin-bottom: 12px;
      }

      .post__comments-list {
        .post__comments-item {
          margin-bottom: 24px;
          border-bottom: 1px solid $p3;
          padding: 20px 0;
          .post__coments-header {
            padding: 24px 0;

            .post__coments-id {
              background-color: $p4;
              color: $p1;
            }
          }

          .post__coments-content {
            max-width: 80%;
            .post__coments-name {
              margin-bottom: 8px;
            }

            .post__comments-body {
              font-size: 16px;
            }
          }

          .post__comments-footer {
            .post__comments-email {
              color: $p4;

              &:hover {
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
