$gray-1: #ddd;
$gray-2: #f9eeff;
$gray-3: #f2f2f2;
$gray-4: #414141;
$gray-5: #f5f5f5;
$gray-6: #787878;
$gray-7: #b1b0b5;
$gray-7: #1b1b1b;

$p1: #e7dcff;
$p2: #cbb3ff;
$p3: #b795ff;
$p4: #915dff;

$green: green;
$white: #fff;

$gradient-1: linear-gradient(90deg, rgba(49, 16, 120, 1), rgba(81, 0, 252, 1));

$gradient-2: linear-gradient(
  180deg,
  rgba(119, 54, 255, 1),
  rgba(81, 0, 252, 1)
);
