@import "../base/typography";

//colors

//commons
$white: #fff;
$black: #000;

//primary
$p1: #872be8;
$p2: #9438f5;
$p3: #a450fd;
$p4: #b269ff;
$p5: #bf82ff;
$p6: #cc9bff;
$p7: #d2a7ff;
$p8: #dcbbff;
$p9: #f2e7ff;

//grays
$c1: #131516;
$c2: #131516;
$c3: #1b1d20;
$c4: #2c2f33;
$c5: #404349;
$c6: #54575c;
$c7: #686b6f;
$c8: #eee;

$rd1: #fd6550;
$rd2: #ff8676;
$rd3: #ffe3df;

//border-radius
$b-radius4: 4px;
$b-radius8: 8px;

//fonts
$ft-titles: "Poppins", sans-serif;
$ft-text: "Roboto", sans-serif;
$ft-size-text-desktop: 16px;

//shadow
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
