.post__create {
  background-image: url("../../../assets/image/bg/bg-intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 40px;
  padding: 40px 0px;
  width: 100%;

  .post__create-container {
    max-width: 90%;
    margin: auto;

    height: 100%;
    display: flex;
    align-items: center;

    .post__title {
      font-family: "Poppins", sans-serif;
      line-height: 1.2;
      margin-bottom: 12px;
      font-size: 32px;
      max-width: 600px;
    }

    .post__description {
      font-size: 20px;
      line-height: 1.5;
      max-width: 600px;
      margin-bottom: 12px;
    }

    .post__create-button {
      background-image: linear-gradient(
        180deg,
        rgba(119, 54, 255, 1),
        rgba(81, 0, 252, 1)
      );
      cursor: pointer;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 2px 1px #ddd;
      color: #f9eeff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding: 24px 32px;

      transition: all ease-in-out 0.3s;

      &:hover {
        background-image: linear-gradient(
          90deg,
          rgba(49, 16, 120, 1),
          rgba(81, 0, 252, 1)
        );
      }
    }

    .post__form-wrapper {
      .post__form {
        width: 100%;

        .post__form-row {
          margin-bottom: 12px;
          width: 100%;

          .post__form-label {
            font-size: 18px;
            margin-bottom: 4px;
            display: block;
          }

          .post__form-textinput {
            border: 1px solid #cbb3ff;
            border-radius: 8px;
            height: 52px;
            padding: 8px;
            width: 100%;

            &:focus {
              background: #cbb3ff;
            }
          }

          .post__form-textarea {
            border: 1px solid #cbb3ff;
            border-radius: 8px;
            height: 120px;
            padding: 8px;
            width: 100%;

            &:focus {
              background: #cbb3ff;
            }
          }

          .post__form-submit {
            background-color: rgba(119, 54, 255, 1);
            border: none;
            border-radius: 8px;
            box-shadow: 0px 2px 1px #ddd;
            color: #f9eeff;
            cursor: pointer;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 4px;
            padding: 24px 32px;
            width: 100%;
            transition: all ease-in-out 0.3s;

            &:hover {
              background-image: linear-gradient(
                90deg,
                rgba(49, 16, 120, 1),
                rgba(81, 0, 252, 1)
              );
            }
          }

          .post__form-cancel {
            background-color: #f2f2f2;
            cursor: pointer;
            border: none;
            border-radius: 8px;
            box-shadow: 0px 2px 1px #ddd;
            color: #414141;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 18px;
            padding: 24px 32px;
            width: 100%;

            transition: all ease-in-out 0.3s;

            &:hover {
              background-color: #b795ff;
              color: #f9eeff;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    .post__create {
      height: 100vh;
    }

    .post__form-rowbtn {
      display: flex;
      gap: 20px;
    }
  }
}
