.header {
  padding: 24px 0;

  .header__container {
    max-width: 90%;
    margin: auto;
    text-align: center;

    .logo__href {
      color: $p1;
      text-decoration: none;

      .logo {
        font-family: $ft-titles;
        font-weight: 900;
        font-size: 40px;
      }
    }
  }
}
