.post {
  background-color: $c8;
  box-shadow: $box-shadow;
  border-radius: $b-radius8;
  margin-bottom: 8px;
  padding: 0px 8px;

  .post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    .post__user,
    .post__number {
      background-color: $p9;
      border-radius: $b-radius4;
      padding: 4px;
    }
  }

  .post__content {
    padding: 20px 0;

    .post__content__title {
      font-size: 24px;
      line-height: 1.2;
      font-family: $ft-titles;
      margin-bottom: 12px;
    }

    .post__content___body {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}
