.post__delete-btn,
.post__coments-btn,
.post__edit-btn,
.post__create-btn {
  border: none;
  border-radius: 4px;
  box-shadow: $box-shadow;
  cursor: pointer;
  font-family: $ft-titles;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  width: 80%;
}

.post__delete-btn,
.post__create-cancel,
.post__edit-btn-cancel {
  background-color: $rd2;
  color: $rd3;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: $rd1;
    color: $white;
  }
}

.post__coments-btn {
  background-color: $p8;
  color: $p1;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: $p1;
    color: $p9;
  }
}

.post__edit-btn {
  background-color: $bl2;
  color: $bl3;
  transition: all ease-in-out 0.3s;

  &:hover {
    background-color: $bl1;
    color: $white;
  }
}

.post__create-btn,
.post__create-submit,
.post__edit-btn-save {
  background-color: $p1;
  color: $p9;

  &:hover {
    background-color: $p3;
    color: $white;
  }
}

.post__create-submit,
.post__create-cancel,
.post__edit-btn-save,
.post__edit-btn-cancel {
  border: none;
  border-radius: 4px;
  box-shadow: $box-shadow;
  cursor: pointer;
  font-family: $ft-titles;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  width: 50%;
}
