@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post__btn___delete {
  background-color: #9438f5;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #f2e7ff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 12px 32px;
  transition: all ease-in-out 0.3s;
}
.post__btn___delete:hover {
  background-color: #872be8;
  color: #fff;
}

.post__create-btn {
  background-color: #9438f5;
  border: none;
  border-radius: 4px;
  color: #f2e7ff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 24px 32px;
  width: 300px;
}

.post__create-submit {
  background-color: #9438f5;
  border: none;
  border-radius: 4px;
  color: #f2e7ff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 50%;
}

.post__create-cancel {
  background-color: #bf82ff;
  border: none;
  border-radius: 4px;
  color: #f2e7ff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 50%;
}

.header {
  padding: 24px 0;
}
.header .header__container {
  max-width: 90%;
  margin: auto;
  text-align: center;
}
.header .header__container .logo__href {
  color: #872be8;
  text-decoration: none;
}
.header .header__container .logo__href .logo {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.post__create-intro {
  background-color: #1b1d20;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  margin-bottom: 40px;
}
.post__create-intro .post__create-wrapper .post__create-title {
  color: #686b6f;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}
.post__create-intro .post__create-formWrapper .post__create-titleForm {
  color: #686b6f;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
}
.post__create-intro .post__create-formWrapper .post__create-formRow {
  margin-bottom: 8px;
}
.post__create-intro .post__create-formWrapper .post__create-formRow .post__create-label {
  color: #a450fd;
  display: block;
  text-align: left;
  margin-bottom: 4px;
}
.post__create-intro .post__create-formWrapper .post__create-formRow .post__create-input {
  border: 1px solid #a450fd;
  border-radius: 4px;
  height: 60px;
  padding: 8px;
  width: 340px;
}
.post__create-intro .post__create-formWrapper .post__create-formRow .post__create-textarea {
  padding: 8px;
  width: 340px;
  height: 100px;
}
.post__create-intro .post__create-formWrapper .post__created {
  margin-top: 12px;
  padding: 14px 0;
}
.post__create-intro .post__create-formWrapper .post__created .post__created__message {
  color: #872be8;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */